html, body {
    height: 100%;
}

body {
    display: flex;
    overflow: hidden;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}
